body {
  margin-left: 100px;
  margin-right: 100px;
}
#heading {
  border-bottom: solid black 1px;
  color: orange;
}
#submit {
  width: 10%;
}
#outerDivision {
  display: flex;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.innerDivision{
  margin-right: 100px;
}