#homePage{
  padding-left: 5%;
  padding-right: 5%;
}
#heading {
  color: orange;
  border-bottom: solid black 1px;
}
#outerDivision {
  display: flex;
}
#innerDivision {
  display: flex-end;
  margin-left: 10%;
  margin-top: 15%;
}
#freshOrigins{
  border: solid black 1px ;
}