<html>
  <head>
    <title>Guest Book</title>
    <link rel="stylesheet" href="./styles/guestbook.css" />
  </head>
  <body>
    <h1 class="heading" align="center">
      <a href="../index.html"><<</a>
      Guest Book
    </h1>
    <form action="saveComment" method="POST" class="form">
      <h1 class="formHeading">Leave a comment</h1>
      Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text" name="name" class="textbox" required/> <br />
      <br />
      Comment:
      <textarea name="comment" cols="36" rows="5" class="textbox" required></textarea> <br />
      <input type="submit" class="submit" />
    </form>
    <hr />
    <table border="1" cellspacing="0px" cellpadding="15%">
      <tr>
        <th>DATE_TIME</th>
        <th>NAME</th>
        <th>COMMENTS</th>
      </tr>
      __COMMENTS__
    </table>
  </body>
</html>
