<html>
  <head>
    <title>Guest Book</title>
    <link rel="stylesheet" href="../styles/guestbook.css" />
  </head>
  <body>
    <h1 id="heading" align="center">
      <a href="../index.html"><<</a>
      Guest Book
    </h1>
    <form action="saveComment" method="POST">
      <legend><h1>Leave a comment</h1></legend>
      Name: <input type="text" name="name" /> <br />
      <br />
      Comment: <textarea name="comment" cols="30" rows="5"></textarea> <br />
      <input type="submit" name="submit" id="submit" />
    </form>
    <hr />
    <table border="1" cellspacing="0px" cellpadding="15%">
      <tr>
        <th>DATE_TIME</th>
        <th>NAME</th>
        <th>COMMENTS</th>
      </tr>
      __COMMENTS__
    </table>
  </body>
</html>
